
section {
    max-width: 500px;
    margin: auto;
}
button {
    padding: 25px;
    font-size: 15px;
    margin: 3px;
}

input {
    padding-left: 100px;
    font-size: 30px;
}


.green {
    color: green;
}

.red {
    color:red;
}