<div>
    <section>

        <input type="text"  [value]="operar.join('')">
            
    </section>
    <br>
    <br>

    <section>
        <button (click)="appendInput(7)">7</button>
        <button (click)="appendInput(8)">8</button>
        <button (click)="appendInput(9)">9</button>
        <button (click)="appendInput('/')">/</button>
        <br>
        <button (click)="appendInput(4)">4</button>
        <button (click)="appendInput(5)">5</button>
        <button (click)="appendInput(6)">6</button>
        <button (click)="appendInput('*')">*</button>
        <br>
        <button (click)="appendInput(1)">1</button>
        <button (click)="appendInput(2)">2</button>
        <button (click)="appendInput(3)">3</button>
        <button (click)="appendInput('-')">-</button>
        <br>
        <button (click)="appendInput(0)">0</button>
        <button (click)="appendInput('.')">.</button>
        <button (click)="calcular()">=</button>
        <button (click)="appendInput('+')">+</button>
        <br>
        <button (click)="clear()">C</button>
    </section>
</div>